body {
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 0px;
    align-items: center;
    background-color: #ff6b35;
}

header img {
    width: 280px;
    height: 75px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.button {
    background-color: #2d2d2d;
    padding: 15px 35px;
    font-weight: 700;
    font-size: 24px;
    color: #ff6b35;
    border-radius: 10px;
    text-decoration: none;
    border: 3px solid #f7931e;
}

nav {
    border-top: 6px solid #f7931e;
    border-bottom: 6px solid #f7931e;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #ff6b35;
    margin-bottom: 45px;
    margin-top: 50px;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 20px;
    color: #333;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

article {
    background-color: white;
    padding: 20px 45px 35px 45px;
    width: 400px;
    margin: 20px;
    border: 4px solid #ff6b35;
    border-radius: 8px;
}

article h2 {
    font-weight: 700;
    font-size: 26px;
    color: #1a1a1a;
    margin-bottom: 15px;
}

article img {
    margin-bottom: 15px;
    border: 3px solid #f7931e;
}

.article-but {
    text-decoration: none;
    background: #ff6b35;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 12px 75px;
    border-radius: 6px;
    border: 2px solid #f7931e;
}

footer {
    background: #ff6b35;
    display: flex;
    align-items: center;
    padding: 55px 0px 55px 90px;
    margin-top: 40px;
    border-top: 6px solid #f7931e;
}

footer a {
    margin-right: 60px;
}

footer img {
    border: 3px solid white;
    border-radius: 10px;
}

footer p {
    font-size: 28px;
    font-weight: 700;
    color: #1a1a1a;
}
